:root{
	--primary-color:#202020;
	--white-color: #fff;
	--black-color:#000;
	--text-color:#333;
	--border-color: #dbdbdb;
	--link-color:#ff3f34;
	--star-gold-color:#FFCE3D;
	--navbar-height:34px;
	--menu-height:50px;
	--header-height:180px;
	--header-with-search-height:calc(var(--header-height) - var(--navbar-height) - var(--menu-height));
	--header-sort-bar-height:35px;

}

*{
	box-sizing: inherit;
}

html{
 	/* trick*/
 	font-size: 62.5%;
 	line-height: 1.6rem;
 	font-family: 'Roboto', sans-serif;
 	box-sizing: border-box;
}

/* chuẩn bị cho reponsive */

.grid__row{
	display: flex;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
}
/* test */

.grid__column-2{
	padding-left: 5px;
	padding-right: 5px;
	width: 16.6667%;
}

.grid__column-2-4{
	padding-left: 5px;
	padding-right: 5px;
	width: 20%;
}

.grid__column-10{
	padding-left: 5px;
	padding-right: 5px;
	width: calc(100% - 16.6667%);
	

}
/* chuẩn bị cho reponsive */


/* Animation */

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}


@keyframes growth{
	from{
		transform: scale(var(--growth-from));
	}
	to{
		transform: scale(var(--growth-to));
	}
}


/* Modal */

.modal{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	animation: fadeIn linear .1s;
}


.modal__overlay{
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.4);
}


.modal__body{
	--growth-from:.6;
	--growth-to:1;
	margin: auto;
	position: relative;
	z-index: 1;
	animation: growth linear 0.2s;
}

.btn__login{
	display: none;
}
.btn__login:checked ~ .modal__login{
	display: flex;
	z-index: 99;
}

.btn__register{
	display: none;
}
.btn__register:checked ~ .modal__register{
	display: flex;
	z-index: 99;
}

/* btn-style */
.btn{
	background-color: var(--white-color);
	min-width: 124px;
	height: 34px;
	text-decoration: none;
	border: none;
	border-radius: 2px;
	font-size: 1.4rem; 
	align-items: center;
	padding: 0 12px;
	cursor: pointer;
	outline: none;
	color: var(--text-color);
	display: inline-flex;
	justify-content: center;
	align-items: center;
	line-height: 1.6rem;
}

.btn.btn--normal:hover{
	background-color: rgba(0,0,0,.09);
}


.btn.btn--primary{
	background-color: var(--primary-color);
	color: var(--white-color);
}

.btn.btn--disabled{
	cursor: default;
	background-color: #c3c3c3;
	color: #949494;
}

.btn.btn--size-s{
	height: 32px;
	font-size: 1.2rem;
	border-radius: 4px;
	padding: 0 8px;
}

/* selection */

.seclect-input{
	position: relative;
	min-width: 220px;
	height: 34px;
	padding: 0 12px;
	border-radius: 2px;
	background-color: var(--white-color);
	display: flex;
	align-items: center;
	justify-content: space-between;

}


.seclect-input__label{
	font-size: 1.4rem;

}

.seclect-input__icon{
	color: rgba(0, 0, 0, 0.8);
	font-size: 1.4rem;
	position: relative;
	top: 1px;
}

.seclect-input:hover .seclect-input__list{
	display: block;
}

.seclect-input__list{
	position: absolute;
	left: 0;
	right: 0;
	top: 25px;
	border-radius: 2px;
	background-color: var(--white-color);
	padding: 8px 13px;
	list-style: none;
	display: none;
	z-index: 1;
	box-shadow:  0 1px 4px 0 rgba(0, 0, 0, .2);
}


.seclect-input__link{
	font-size: 1.4rem;
	color: var(--text-color);
	text-decoration: none;
	display: block;
	padding: 4px 0 ;
}

.seclect-input__link:hover{
	color: var(--link-color)
}

/*pagination */

.pagination{
	display: flex;
	align-items: center;
	justify-content: center;
	list-style: none;

}

.pagination-item{
	margin: 0 12px;
}

.pagination-item--active .pagination-item__link{
	background-color: var(--primary-color);
	color: var(--white-color);
	box-shadow: .7px 1px .7px #bdc3c7;
}
.pagination-item--active .pagination-item__link:hover{
	background-color: #636363;
}


.pagination-item__link{
	--height: 30px;
	display: block;
	text-decoration: none;
	color: #939393;
	font-size: 2rem;
	font-weight: 300;
	min-width: 40px;
	height: --height;
	line-height: --height;
	text-align: center;
	border-radius: 2px;

}
