.wrap{
	overflow: hidden;
}

.header{
	height: var(--header-height);
	background-image: linear-gradient(0,#202020,#292929);
}

.header__navbar{ 
	display: flex;
	justify-content: space-between;
}

.header__navbar-list{
	list-style-type: none;
	padding: 0;
	margin: 5px 0 0 0;
	display: flex;

}

.header__navbar-item{
	margin: 0 8px;
	min-height: 26px;
	position: relative;
}


.header__navbar-user{
	justify-items: center;
	position: relative;

}

.header__navbar-user-name{
	margin-left:4px;
	font-size: 1.4rem;
	font-weight: 400;
}



.header__navbar-user:hover .header__navbar-user-menu{
	display: block;
}

.header__navbar-user-menu{
	position: absolute;
	z-index: 1;
	padding: 4px 0 0;
	padding-left: 0;
	top:calc(100% + 6px);
	right: 0;
	background-color: var(--white-color);
	width: 170px;
	list-style-type: none;
	border-radius: 2px;
	box-shadow: 0 0.125rem 0.25rem rgba(202,196,196,0.4);
	display: none;
	animation: fadeIn ease-in .2s;

}

.header__navbar-user-menu::after{
	content: "";
    position: absolute;
    width: 104px;
    height: 13px;
    top: -12px;
    right: 0;
}

.header__navbar-user-menu::before{
	content: "";
    border-width: 12px 14px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 12px;
    top: -21px;
    border-style: solid;
}

.header__navbar-user-item--separate{
	border-top: 1px solid rgba(0,0,0,0.06);
}



.header__navbar-user-item a{
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.4rem;
	padding: 4px 16px;
	display: block;
}

.header__navbar-user-item a:first-child{
	border-top-left-radius: 2px;
	border-top-right-radius:2px;
}

.header__navbar-user-item a:last-child{
	border-bottom-left-radius: 2px;
	border-bottom-right-radius:2px;
}


.header__navbar-user-item a:hover{
	background-color: #fafafa;
}
.header__navbar-user-img{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	border: 1px solid rgba(0,0,0,.1)
}

.header__navbar-item--has-header__qr:hover .header__qr{
	display: block;
}

.header__navbar-item,
.header__navbar-item-link{
	display: inline-block;
	font-size: 1.3rem;
	color: var(--white-color);
	text-decoration: none;
	font-weight: 300;
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon-link{
	display: flex;
	align-items: center;
}


.header__navbar-item--strong{
	font-weight: 450;
}
.header__navbar-item--separate::after{
	content: "";
	display: block;
	position: absolute;
	height: 14px;
	border-left: 1px solid #bdc3c7;
	right: -9px;
	top:50%;
	transform: translateY(-50%);
}


.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-icon-link:hover{
	cursor: pointer;
	color: rgba(255,255,255,0.7);
}


.header__navbar-icon-link{
	text-decoration: none;
	color: var(--white-color);
}

.header__navbar-icon-link:nth-child(2){
	margin-left: 4px;
}

.header__navbar-icon{
	font-size: 1.8rem;
	margin:0 5px;
}

.header__navbar-title--no-pointer{
	cursor: text;
	color: var(--white-color);
}


/*mobile & tablet navigation*/

.nav__bar-btn{
	font-size: 3rem;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	color: var(--white-color);
	display: none;
}

.nav__bar-overlay{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 99;
	background-color: rgba(0, 0, 0, 0.3);
	display: none;
	animation: fadeIn linear 0.2s;
}


.nav__mobile{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	width: 300px;
	max-width: 100%;
	background-color: #ffff;
	z-index: 99;
	transform: translateX(-100%);
	opacity: 0;
	transition: all linear 0.3s;
}


.nav__mobile-list{
	margin-top: 24px;
	list-style: none;
	padding:0px;

}
.nav__mobile-link{
	text-decoration: none;
	color: #333;
	display: block;
	padding: 0px 10px 0;
	font-size: 1.4rem;
	height: 40px;
	line-height: 40px;
	border-bottom: 1px solid #eaeaea;
}

.nav__mobile-close{
	font-size: 2.4rem;
	color: #666;
	position: absolute;
	top: 1rem;
	right: 1rem;
}

/* QR-Code */

.header__qr{
	width: 186px;
	position: absolute;
	z-index: 2;
	background-color: var(--white-color);
	top: 120%;
	left: 0;
	padding: 7px;
	border-radius: 2px;
	display: none;
	animation: fadeIn ease-in .2s;
	box-shadow: 0 1px 2px rgba(0, 0, 0,.1);
	

}

.header__qr::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 20px;
	display: block;
	left: 0;
	top:-16px;
}

.header__qr-img{
	width: 100%;
}


.header__qr-apps{
	display: flex;
	justify-content: space-between;

}

.header__qr-link:first-child{
	margin-left: 11px;
}

.header__qr-link:last-child{
	margin-right: 12px;
}



.header__qr-dowload-img{
	height: 17px;

}



/* header__notify */

.header__notify{
	position: absolute;
	top:118%;
	width: 404px;
	background-color: var(--white-color);
	right: 0;
	border: .5px solid var(--border-color);
	transform-origin: calc(100% - 32px) top;
	animation: headerNotifyGrowth ease-in .2s;
	/* cho trình duyệt biết được sẽ thay đổi những gì, tối ưu trình duyệt */
	will-change: opacity, transform;
	display: none;
	z-index: 2;
	border-radius: 3px;

}

.header__notify::before{
	content: "";
	border-width: 20px 26px;
	border-style: solid;
	border-color: transparent transparent var(--white-color) transparent;
	position: absolute;
	right: 2px;
	top: -28px;
}


.header__notify::after{
	content: "";
	display: block;
	position: absolute;
	width: 90px;
	height: 20px;
	right: 0;
	top:-16px;
}


.header__navbar-item--has-notify:hover .header__notify {
	display: block;
}

@keyframes headerNotifyGrowth{
	from{
		opacity: 0;
		transform: scale(0);
	}
	to{
		opacity: 1;
		transform: scale(1);
	}
	
}

.header__notify-header{
	height: 40px;
	background-color: var(--white-color);

}


.header__notify-header h3{
	color: #666;
	margin:0 0 0 12px;
	font-size: 1.4rem;
	font-weight: 500;
	line-height: 40px;
	cursor: default ;
}
.header__notify-list{
	padding-left: 0;
}


.header__notify-item{
	display: flex;
}

.header__notify-item:hover{
	background-color: #f7f7f7;
}
/* class cho thông báo đã xem */
.header__notify-item--viewed{
	background-color: rgba(0,119,181,.1)
}



.header__notify-link{
	width: 100%;
	display: flex;
	padding: 12px;
	text-decoration: none;	
}


.header__notify-img{
	width: 48px;
	object-fit: contain;

}

.header__notify-info{
	margin-left: 12px;

}

.header__notify-name{
	display: block;
	font-size: 1.4rem;
	color:var(--text-color);
	font-weight: 500;
	line-height: 1.8rem;
	margin-top:4px;
}


.header__notify-description{
	display: block;
	font-size: 1.2rem;
	color:#95a5a6;
	line-height: 1.6rem;
}


.header__notify-footer{
	display: flex;
	background-color: #dcdde1;
}

.header__notify-footer:hover{
	background-color: #f7f7f7;
}

.header__notify-footer-btn{
	text-decoration: none;
	color: var(--text-color);
	padding: 5px;
	font-weight: 500;
	margin: auto;
}

/* authen modal */

.auth-form{
	width: 500px;
	background-color: var(--white-color);
	border-radius: 5px;
	overflow: hidden;
}

.auth-form__container{

	padding: 0 32px;
}

.auth-form__header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 12px;
	margin-top: 10px;
}

.auth-form__heading{
	font-size: 2.2rem;
	font-weight: 500;
	color: var(--text-color);
}

.auth-form__switch-btn{
	font-size: 1.8rem;
	font-weight: 500;
	color: var(--primary-color);
	cursor: pointer;
}


.auth-form__input{
	margin-top: 16px;
	width: 100%;
	height: 40px;
	padding: 0 12px;
	font-size: 1.3rem;
	border-radius: 2px;
	border: 1px solid var(--border-color);
	outline: none;
}

.auth-form__input:focus{
	border-color: #7777;
}


.auth-form__aside{
	margin-top: 18px;
}

.auth-form__policy-text{
	line-height: 1.6rem;
	font-size: 1.2rem;
	text-align: center;
	
}

.auth-form__text-link{
	text-decoration: none;
	color: #30336b;
}

.auth-form__controls{
	margin-top: 130px;
	display: flex;
	justify-content: flex-end;

}

.auth-form__controls-back{
	margin-right: 8px;
}


.auth-form__socials{
	background-color: #f5f5f5;
	padding:16px 32px;
	display: flex;
	justify-content: space-between;
	margin-top: 24px;
}

.auth-form__socials-icon{
	font-size: 1.8rem;

}
.auth-form__socials--facebook{
	background-color: #3B5998;
	color: var(--white-color);
}


.auth-form__socials--facebook
.auth-form__socials-icon{
	color: var(--white-color);
}

.auth-form__socials-title{
	margin:0 36px;
}

.auth-form__socials--google{
	background-color: #f70202a1;
    color: #f5f5f5;
}

.auth-form__help{
	display: flex;
	justify-content: flex-end;
}

.auth-form__help-link{
	text-decoration: none;
	font-size: 1.4rem;
	color: #737373;

}

.auth-form__help-separate{
	display: block;
	height: 20px;
	margin: 2px 16px 0;
	border-left:1px solid var(--border-color);
}

.auth-form__help-fogot{
	color: var(--link-color);
}

/* header with search */

.header-with-search{
	height: var(--header-with-search-height);
	display: flex;
	align-items: center;
}


.header__mobile-search{
	padding: 0 12px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
	display: none;

}

.header__mobile-search-icon{
	font-size: 2.6rem;
	color: var(--white-color);

}

.header__logo{
	width: 165px;
}

.header__logo-img{
	width: 100px;
}

.header__logo-link{
	text-decoration: none;
	color: transparent;
	display: block;
	line-height: 0;
}

.header__search{
	background-color: var(--white-color);
	height: 40px;
	flex:1;
	border-radius: 2px;
	display: flex;
	align-items: center;
	box-shadow: 0 0.125rem 0.25rem rgba(202,196,196,0.4);
}


.header__cart{
	cursor: pointer;
	width: 170px;
	text-align: center;
}


.header__cart-wrap{
	position: relative;
	display: inline-block;
	padding: 0 12px;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}


.header__cart-icon{
	margin-top: 7px;
	font-size: 2.5rem;
	color: var(--white-color);
}

.header__cart-wrap:hover .header__cart-list{
	display: block;
}

.header__cart-list{
	position: absolute;
	z-index: 1;
	top: calc(100% + 4px);
	right: -8px;
	background-color: var(--white-color);
	width: 400px;
	border-radius: 2px; 
	box-shadow: 0 1px 31px 0 rgba(0, 0, 0, 0.2);
	display: none;
	animation: fadeIn ease-in .2s; 
	cursor: default;

}

.header__cart-list::before {
    content: "";
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: -24px;
    border-width: 16px 22px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}



.header__cart-list-no-cart{
	padding: 24px 0;

}

.header__cart-list-no-cart .header__cart-list-no-cart-img,
.header__cart-list-no-cart .header__cart-list-no-cart-msg{
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.header__cart-list-no-cart-img{
	width: 55%;
	display: none;
}

.header__cart-list-no-cart-msg{
	display: none;
	font-size: 1.4rem;
	margin-top: 14px;
	color: var(--text-color);
	font-weight: 450;
}


.header__cart-notify{
	position: absolute;
	padding: 1px 7px;
	top: -2px;
	right: -8px;
	background: var(--white-color);
	color: var(--primary-color);
	line-height: 1.2rem;
	font-size: 1.2rem;
	border-radius: 10px; 
	border: 2px solid var(--primary-color);

}
.header__cart-info{
	padding: 0 12px;

}

.header__cart-info-item{
	font-size: 1.5rem;
    font-weight: 300;
	display: flex;
	justify-content: space-between;
}

.header__cart-item-title{
	display: block;
}

.header__cart-item-value{
	display: block;
	font-size: 1.5rem;
	font-weight: 400;
	color: var(--link-color);
}

.header__cart-view-cart{
	float: right;
	display: block;
	line-height: 36px;
	margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover{
	background-color: #636e72;
}


/* header search */

.header__search-input-wrap{
	flex:1;
	height: 100%;
	position: relative;

}



.header__search-input{
	height: 100%;
	width: 100%;
	outline: none;
	border: none;
	font-size: 1.4rem;
	color: var(--text-color);
	padding: 0 16px;
	border-radius: 2px;
}

.header__search-select{
	position: relative;
	border-left: 1px solid var(--border-color);
	padding-left: 16px;
	cursor: pointer;

}

.header__search-select-label{
	font-size: 1.4rem;
	color: var(--text-color);

}

.header__search-select-icon{
	font-size: 1.4rem;
	color: #838383;
	margin: 0 16px 0 8px ;
	position: relative;
	top:2px;
}

.header__search-btn{
	background-color: var(--primary-color);
	border: none;
	outline: none;
	height: 34px;
	border-radius: 3px;
	margin-right: 3px;
	width: 60px;
	box-shadow: .7px 1px .7px #bdc3c7;
}
.header__search-btn:hover{
	background-color: #636363;
	cursor:  pointer;
}

.header__search-btn-icon{
	font-size: 1.4rem;
	color: var(--white-color);
}

.header__search-select:hover .header__search-option{
	display: block;
}



.header__search-option{
	position: absolute;
	z-index: 1;
	right: 0;
	top: calc(100% - 1px);
	width: 122px;
	box-shadow: 0 1px 2px #e0e0e0;
	padding-left: 0;
	border-radius: 3px;
	display: none;
	animation: fadeIn ease-in .2s;
}

.header__search-option::before{
	content: "";
	display: block;
	height: 12px;
	width: 100%;
	top:-10px;
	left: 0;
	position: absolute;
}

.header__search-option-item{
	list-style-type: none;
	background-color: var(--white-color);
	padding: 8px 8px;
	cursor: pointer;

}

.header__search-option-item:first-child{
	border-top-left-radius: 3px;
	border-top-right-radius: 3px;
}

.header__search-option-item:last-child{
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

.header__search-option-item:hover{
	background-color: #dcdde1;
}

.header__search-option-item span{
	font-size: 1.4rem;
	color: var(--text-color);

}

.header__search-option-item i{
	font-size: 1.2rem;
	color: #F05D40;
	margin-left: 12px;
	display: none;
}


.header__search-option-item--active i{
	display: inline-block;

}


.header__search-input:focus ~ .header__search-history{/* Selects every <history> element that are preceded by a <input> element */
	display: block;
}

/* search history */

.header__search-history{
	position: absolute;
	z-index: 2	;
	top: calc(100% + 3px);
	left: 0;
	width: calc(100% - 16px);
	background-color: var(--white-color);
	border-radius: 3px;
	box-shadow: 0 0 5px #ccc;
	display: none;
	overflow: hidden;
}

.header__search-history-heading{
	margin: 6px 17px;
	font-size: 1.4rem;
	color: #ccc;
	font-weight: 400;
}


.header__search-history-list{
	padding: 0;
	list-style-type: none;
	margin:6px 0 0;


}

.header__search-history-item {
	height: 38px;
	padding: 0 16px;

}

.header__search-history-item:hover{
	background-color: #ccc;
}


.header__search-history-item a{
	text-emphasis:none; /* Được sử dụng để nhấn mạnh phần văn bản nào đó */
	font-size: 1.4rem;
	color: var(--text-color);
	text-decoration: none;	
	line-height: 38px;
	display: block;

}
/* has item */
.header__cart-heading{
	text-align: left;
	margin: 8px 0 8px 12px;
	font-size: 1.4rem;
	color: #999;
	font-weight: 400;


}


.header__cart-list-item {
    padding-left: 0;
    list-style-type: none;
    overflow-y: auto;
    max-height: 50vh;
}

.header__cart-item{
	display: flex;
	align-items: center;
}

.header__cart-item:hover{
	background-color: #dcdde1;
}

.header__cart-img{
	width: 43px;
	height: 42px;
	margin: 12px;
	border: 1px solid var(--border-color);

}
.header__cart-item-infor{
	width: 100%;
	margin-right: 12px;
	

}
.header__cart-item-head{
	display: flex;
	align-items: center;
	justify-content: space-between;	


}
.header__cart-item-name{
	flex:1;
	font-size: 1.4rem;
	line-height: 2rem;
	max-height: 4rem;
	overflow: hidden;
	font-weight: 500;
	color: var(--text-color);
	margin: 0;
	padding-right: 16px;
	display: -webkit-box;
	-webkit-box-orient: vertical;
	-webkit-line-clamp:2;
	text-align: left;


}

.header__cart-item-price-wrap{

}

.header__cart-item-price{
	font-size: 1.4rem;
	color: var(--link-color);
	font-weight: 400;


}
.header__cart-item-multiply{
	font-size: 0.9rem;
	margin:0 4px;
	color: #757575;

}
.header__cart-item-qnt{
	font-size: 1.2rem;
	color: #757575;


}
.header__cart-item-body{
	display: flex;
	justify-content: space-between;



}
.header__cart-item-description{
	color: #757575;
	font-size: 1.3rem;
	font-weight: 300;


}
.header__cart-item-remove{
	color: var(--text-color);
	font-weight: 400;
	font-size: 1.4rem;
}

.header__cart-item-remove:hover{

	color: #487eb0;
	cursor: pointer;
}


/* header menu */

.header__menu{
	height: var(--menu-height);
	border-top: 1px solid rgb(126 115 115 / 50%);
	display: flex;
}


.header__menu-container{
	margin: 0 auto;

}


.header__menu-list{
	list-style-type: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: space-around;


}

.header__menu-item{
	margin: 0;
	min-height: 26px;
	position: relative;
}

.header__menu-item a{
	text-decoration: none;
	display: inline-block;
	line-height: 50px;
	width: 200px;
	font-size: 1.6rem;
	text-align: center;
	font-weight: 500;
	letter-spacing: 4px;
	color: var(--white-color);	
	animation: fadeIn ease-in .4s;
	transition: .4s;
	border-radius: 2px;

}


.header__menu-item a:hover{
	background-color: #C89979;
	
}


/*Header sort bar*/

.header__sort-bar{
	position: fixed;
	top: var(--header-height);
	left: 0;
	right: 0;
	height: var(--header-sort-bar-height);
	background-color: var(--white-color);
	list-style: none;
	margin-top: 0px;
	padding-left: 0;
	border-top: 1px solid #e5e5e5;
	border-bottom: 1px solid #e5e5e5;
	display: none;

}

.header__sort-item{
	flex: 1;

}

.header__sort-item:first-child.header__sort-link::before{
	display: none;
}


.header__sort-link{
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.2rem;
	display: block;
	height: 100%;
	line-height: var(--header-sort-bar-height);
	text-align: center;
	position: relative;

}

.header__sort-link::before{
	position: absolute;
	content: "";
	top: 50%;
	left: 0;
	height: 60%;
	border-left: 1px solid #e5e5e5;
	transform: translateY(-50%);
}

.header__sort-link--active{
	color: var(--link-color);
}


/* Wrap__container */



.wrap__container{
	background-color: #f5f5f5;
}

.wrap__content{
	padding-top: 36px;
}

.category{
	background-color: var(--white-color);
	border-radius: 2px;
}

.category__heading{
	margin-top: 0;
	font-size: 1.5rem;
	font-weight: 500;
	color:var(--text-color);
	padding: 12px 16px 0;
	text-transform: uppercase;
}

.category__heading-icon{
	font-size: 1.4rem;
	margin-right: 4px;

}

.category-list{
	padding: 0 0 8px 0;
	list-style-type: none;
	margin-left: 16px;
}

.category-item{
	position: relative;
}

.category-item:first-child::before{
	display: none;
}

.category-item::before{
	content: "";
	border-top: 1px solid #e1e1e1;
	position: absolute;
	top: 0;
	left: 0;
	right: 16px;
}



.category-item--active .category-item__link{
	color: #ff3f34;

}

.category-item--active .category-item__link:before{
	content: "";
	top: 50%;
	left: 8px;
	position: absolute;
	border:4px solid; 
	transform: translateY(calc( -50% - 1px ));
	border-color: transparent transparent transparent #ff3f34;
}

.category-item__link{
	position: relative;
	text-decoration: none;
	color: var(--text-color);
	font-size: 1.4rem;
	display: block;
	padding: 6px 20px; 
	transition: right linear 0.2s;
	right: 0;
}

.category-item__link:hover{
	right: -4px;
	color:var(--link-color) 
}




/*mobile-category*/

.mobile-category{
	display: none;

}

.mobile-category__list{
	display: flex;
	list-style: none;
	padding-left: 0;
	max-width: 100%;
	overflow-x: auto;
}

.mobile-category__list::-webkit-scrollbar {
	display: none;
}

.mobile-category__item{
	flex-shrink: 0;
	margin-right: 10px;
}
.mobile-category__item:nth-of-type(3n+1) .mobile-category__link{
	background-color: #87AFD8;
}
.mobile-category__item:nth-of-type(3n+2) .mobile-category__link{
	background-color: #76C9BD;
}
.mobile-category__item:nth-of-type(3n+3) .mobile-category__link{
	background-color: #88CF81;
}

.mobile-category__link{
	--line-height: 2rem;
	text-decoration: none;
	color: var(--white-color);
	font-size: 1.4rem;
	line-height: var(--line-height);
	height: calc(var(--line-height) * 2);
	overflow: hidden;
	text-align: center;
	display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
	width: 110px;
	border-radius: 4px;
	font-weight: 300;
	justify-content: center;
	user-select: none;
	-webkit-user-select:none;
	padding: 4px 5px ;

}



/* home sort + filter */


.home-filter{
	display: flex;
	align-items: center;
	padding:12px 22px;
	border-radius: 2px;
	background-color: #dcdde1;
	
}

.home-filter__label{
	color: #555;
	font-size: 1.4rem;
	margin-right: 16px;
}


.home-filter__btn{
	min-width: 100px;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,.02);
	margin-right: 12px;
}

.home-filter__page{
	display: flex;
	align-items: center;
	margin-left: auto;
}


.home-filter__page-num{
	margin-right:22px;
	color: var(--text-color);
	font-size: 1.4rem;
}

.home-filter__page-current{
 	color: var(--link-color)
}

.home-filter__page--control{
	border-radius: 2px;
	overflow: hidden;
	display: flex;
	width: 80px;
	height: 34px;
	

}

.home-filter__page-btn{
	background-color: var(--white-color);
	flex:1;
	display: flex;
	text-decoration: none;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
}


.home-filter__page-btn--disabled{
	cursor: default;
	background-color: #ededed;

}
.home-filter__page-btn:first-child{
	border-right: 1px solid #eee;
}

.home-filter__page-icon{
	margin:auto;
	color: #555;
	font-size: 1.4rem;

}

/* product item */
.home-product{
	margin-bottom: 10px;
}


.home-product-item{
	position: relative;
	display: block;
	text-decoration: none;
	background-color: var(--white-color);
	margin-top: 10px;
	border-radius: 3px;
	box-shadow: 0 1px 4px 0 rgba(0, 0, 0, .2);
	transition: transform ease-in .1s;
	will-change: transform;
	
	
}
.home-product-item:hover{
	transform: translateY(-2px);
	box-shadow: 0 1px 20px 0 rgba(0, 0, 0, .1);
}

.home-product-item__img{
	padding-top: 100%;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top center;
	border-top-left-radius: 3px;
	border-top-right-radius:3px;

}

.home-product-item__name{
	font-size: 1.4rem;
	font-weight: 400;
	color: var(--text-color);
	line-height: 1.8rem;
	height: 3.6rem;
	margin: 10px 10px 4px 10px;
	overflow: hidden;
	display: block;
	display: -webkit-box; /*tên dài sẽ ẩn và hiển thị dấu 3 chấm*/
	-webkit-box-orient: vertical;
	-webkit-line-clamp: 2;
}

.home-product-item__price{
	display: flex;
	align-items: baseline;
	flex-wrap: wrap;


}

.home-product-item__name-old{
	font-size: 1.4rem;
	color: #666;
	text-decoration: line-through;
	margin-left: 10px;


}

.home-product-item__name-current{
	font-size: 1.8rem;
	color: var(--link-color);
	margin-left: 10px;

}

.home-product-item__action{
	display: flex;
	justify-content: space-between;
	margin: 6px 10px 0;

}

.home-product-item__like{
	font-size: 1.4rem;
	color: var(--link-color);

}

i.home-product-item__like-icon-fill{
	display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill{
	display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty{
	display: none;
}

.home-product-item__rating{
	font-size: 1rem;
	transform: scale(0.8);
	transform-origin:right; 
	color: #D5D5D5;
	margin-left: auto;
	margin-: -1px 0 0 auto;

}

.home-product-item__star--gold{
	color: var(--star-gold-color);

}


.home-product-item__sold{
	font-size: 1.4rem;
	color: var(--text-color);
	margin-left: 6px;
}

.home-product-item__origin{
	display: flex;
	justify-content: space-between;
	margin:  3px 10px 0;
	color: #888888;
	font-weight: 300;
	font-size:1.2rem;

}

.home-product-item__brand{


}

.home-product-item__origin-name{


}

.home-product-item__favourite{
	position: absolute;
	top: 10px;
	left: -4px;
	color: var(--link-color);
	background-color: currentColor;
	font-size: 1.2rem;
	font-weight: 400;
	line-height: 1.6rem;
	padding-right:4px;
	border-top-right-radius: 3px;
	border-bottom-right-radius: 3px; 

}



.home-product-item__favourite::after{
	content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(70%);
}

.home-product-item__favourite span{
	color: var(--white-color);
}
.home-product-item__favourite i{
	color: var(--white-color);
	font-size: .9rem;
	margin: 0 2px 0 5px;
}

.home-product-item__sale-off{
	position: absolute;
	right: 0;
	top:0;
	width: 40px;
	height: 36px;
	text-align: center;
	background-color: rgba(255,212,36,.9);
	border-top-right-radius:3px;
}

.home-product-item__sale-off::after{
	content: "";
	position: absolute;
	border-width: 0  20px 4px;
	left: 0;
	right: 0;
	bottom:-4px;
	border-style: solid;
	color:rgba(255,212,36,.9) ;
	border-color: transparent currentColor transparent currentColor;

}
.home-product-item__sale-off-percent{
	color: #EE4D2D;
	font-size: 1.3rem;
	font-weight: 700;
	line-height: 1.3rem;
	position: relative;
	top: -1px;

}

.home-product-item__sale-off-label{
	color: var(--white-color);
	text-transform: uppercase;
	font-size: 1.3rem;
	line-height: 1.3rem;
	font-weight: 700;
	position: relative;
	top: -9px;
}

/*pagination*/
.home-product__pagination{
	margin: 48px 0 32px;
	padding-left: 0;
}


/*footer*/

.footer{
	border-top: 4px solid var(--primary-color);
	padding-top: 16px;
}


.footer__heading{
	text-transform: uppercase;
	font-size: 1.4rem;
	color: var(--text-color);

}

.footer__list{
	padding-left: 0;
	list-style: none;
}


.footer__list-item-link{
	text-decoration: none;
	font-size: 1.2rem;
	color: #737373;
	padding: 2px 0;
	display: block;
	display: flex;
	align-items: center;
}

.footer__list-item-link:hover{
	color: var(--link-color);
}

.footer__list-item-icon{
	font-size: 1.6rem;
	margin:-1px 8px 0 0;

}

.footer__download{
	display: flex;
}


.footer__download-qr{
	width: 80px;
	height: 80px;
	border: 1px solid var(--border-color);
}

.footer__download-apps{
	flex:1;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-left: 16px;

}

.footer__download-app-img{
	height: 20px;
}

.footer__download-app-link{
	text-decoration: none;
	color: transparent;
}

.footer__bottom{
	padding: 8px 0;
	background-color: #f5f5f5;
	margin-top: 24px;
}

.footer__text{
	margin:0;
	text-align: center;
	font-size: 1.2rem;
	color: #737373;
}

/*detail product*/
.gallery-wrap .img-big-wrap img {
    height: 450px;
    width: auto;
    display: inline-block;
    cursor: default;
}


.gallery-wrap .audio-small-wrap .item-gallery {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    margin: 7px 2px;
    display: inline-block;
    overflow: hidden;
}

.gallery-wrap .audio-small-wrap {
    text-align: center;
}
.gallery-wrap .audio-small-wrap audio {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border-radius: 4px;
    cursor: zoom-in;
}	

.container{
	margin-top: 50px;
	margin-bottom: 50px;
}

.detail-product-item__name-current{
	font-size: 2rem;
	color: var(--link-color);

}
