/*Mobile & Tablet*/
@media (max-width: 1023px) {
	.header{
		position: fixed;
		top: 0px;
		right: 0px;
		left: 0px;
		z-index: 99;
		
	}

	.hide-on-mobile-tablet{
		display: none !important;
	}
	.header__cart{
		padding-right: 10px;
	}

	.header__cart-list{
		position: fixed;
		top: var(--header-height);
		right: 0px;
		width: 100%;
		padding: 0 calc(( 100% - 644px ) / 2 )
	}
	.header__cart-list::before{
		display: none;
	}
	
	.header__sort-bar{
		display: flex;
	}

	.wrap__container{
		width: 100%;
		margin-top: calc( var(--header-height) + var(--header-sort-bar-height) );
	}

	.wrap__content {
    	padding-top: 8px;
	}
	.mobile-category{
		display: flex;
	}
	.header__logo-img{
		width: 90px;
	}
	.slider.btn__slider{
		display: block;
	}

	.nav__bar-btn{
		display: block;
	}

	.nav__input:checked ~ .nav__bar-overlay{
		display: block;
	}

	.nav__input:checked ~.nav__mobile{
		transform: translateX(0);
		opacity: 1;
	}


	
}



/*Tablet*/
@media (min-width: 740PX) and (max-width: 1023px) {
	:root {
	--navbar-height:0px;
	--menu-height:0px;
	--header-height:68px;
	}

	.hide-on-tablet{
		display: none !important;
	}

	.header__cart{
		width: 80px;
		text-align: right;
	}
	.nav__bar-btn{
		padding-right: 35px;
	}
	


}



/*Mobile*/
@media (max-width: 739px) {
	:root {
	--navbar-height:0px;
	--menu-height:0px;
	--header-height:54px;
	}

	.hide-on-mobile{
		display: none !important;
	}

	.header-with-search{
		justify-content: space-between;

	}

	.header__cart,
	.header__logo{
		width: unset;

	}

	.header__search-checkbox:checked ~ .header__search{
		display: flex;
	}

	.header__search{
		position: fixed;
		top: var(--header-height);
		left: 0;
		right: 0;
		height: 46px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
		z-index: 1;
		padding: 0 16px;
		animation: mobileSearchSideIn linear 0.3s;
		display: none;
	}

	@keyframes mobileSearchSideIn {
		from{
			opacity: 0;
			top: calc( var(--header-height) / 2);
		}
		to{
			opacity: 1;
			top: var(--header-height) ;
		}
	}

	.header__search-history{
		position: fixed;
		top: calc( var(--header-heigth) + var(--header-sort-bar-height));
		left: 0;
		right: 0;
		box-shadow:  0 1px 2px rgba(0, 0, 0 , 0.05);
	}
	.pagination-item{
		margin: 0;

	}


	.pagination-item__link{
		--height: 28px;
		font-size: 1.6rem;
		min-height: 36px;

	}

	.home-product-item{
		margin: 10px 30px;
	}
	.header__mobile-search{
		display: block;	
	}

	.mobile-category{
		margin: 0 30px;
	}
	.footer__content{
		padding: 0 16px;
	}
	.footer__heading{
		text-align: center;
	}

	.footer__download,
	.footer__list-item-link{
		justify-content: center;
	}

	.footer__download-apps{
		flex: unset;
	}	

	.footer__download-app-link{
		display: block;
		padding: 0 10px;
	}

	.header__cart,
	.header__logo{
		flex-grow: 2;

	}
	.header__mobile-search{
		flex-grow: 3;
		padding: unset;
	}

	.nav__bar-btn{
		flex-grow: 1;
		padding-left: 10px
	}


}